*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#lightbox-loading, #lightbox-overlay, #lightbox-tmp, #lightbox-wrap{
 box-sizing: content-box; 
}


.Wrapper{
    width: 970px;
    margin: 0 auto;
    font-size: 0px;
    font-family: arial,helvetica,sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

.Left-Col-Head,
.Right-Col-Head{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.Left-Col-Text-1{
    font-size: 29px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.Left-Col-Text-2{
    font-size: 16px;
}
.Head{
    margin-top: 45px;
    margin-bottom: 150px;
}
.Right-Col-Text{
    font-size: 16px;
    text-align: right;
    padding-bottom: 15px;
}
.Right-Col-Head span{
    font-size: 16px;
    font-weight: bold;

}
.Right-Col-Head span a{
    color: rgb(128,128,128);
}
.Right-Col-Head span.Right-Col-Text{
    display: inline-block;
}
.Right-Col-Head{
    text-align: right;
}
.s1{
    font-weight: normal !important;
    padding-right: 5px;
}
.s2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    padding-right: 5px;
}
.s3{
    font-family: 'Open Sans', sans-serif;
}

.Sub-Head p{
    color: #003370;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
.Sub-Head{
    margin-bottom: 40px;
}
.Sub-Head-2 {
    margin-bottom: 40px;
}
.Sub-Head-2 p.Sub-Head-2-Text-1{
    color: #ff0000;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.Sub-Head-2 a{
    border-radius: 4px;
    border-color: rgb(83, 0, 0);
    color: rgb(255, 237, 237);
    background-color: rgb(139, 0, 0);
    padding: 20px 25px;
    font-size: 28px;
    line-height: 1;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 490px;
    text-decoration: none;
}
.Sub-Head-2 input:focus{
    outline: none;
}

.Sub-Head-2 p.Sub-Head-2-Text-2{
    font-size: 38px;
    text-align: center;
}

.Why-We-Left{
    width: 66.66%;
    display: inline-block;
    vertical-align: top;
}
.Why-We-Left-Head{
    color: #003370;
    font-size: 58px;
}
.Why-We-Left-Block-1{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}
.Why-We-Left-Block-2{
    width: 75%;
    display: inline-block;
    vertical-align: top;
}
.Why-We-Left-Block-1 img{
    max-width: 100%;
    width: 72px;
    margin: 0 auto;
    display: block;
}
.Why-We-Left-Block-2 span{
    font-weight: bold;
    font-size: 18px;
}

.Why-We-Left-Block-2 p{
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

.Why-We-Left-Block{
    margin-bottom: 40px;
}
.Why-We-Left-Blocks{
    margin-top: 15px;
}

.Why-We-Right{
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}
.Why-We-Right-Block-1{
    border:1px solid rgb(130, 130, 130);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(217, 217, 217);
    background-image: url("/images/gradient.png");
    background-size: 100% 100%;
    text-align: center;
    padding: 20px 30px;
}
.Why-We-Right-Block-2{
    border:1px solid rgb(230, 230, 230);
    color: rgb(51, 51, 51);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
}
.Why-We-Right-Block-2 input.Name,
.Why-We-Right-Block-2 input.Phone
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}
.Why-We-Right-Block-2 input.Name:focus,
.Why-We-Right-Block-2 input.Phone:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.Why-We-Right-Block-1 p{
    font-weight: bold;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

.Why-We-Right-Block-2 input.Consult{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 4px;
    border-color: rgb(10, 58, 0);
    color: rgb(238, 255, 235);
    background-color: rgb(17, 97, 0);
    width: 100%;

    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    cursor: pointer;
}

.Why-We-Right-Block-2 input.Consult:focus{
    outline: none;
}

p.Why-We-Right-Head{
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
}

.Not-Execution {
    text-align: center;
    margin-top: 50px;
}

.Not-Execution-Head{
    font-size: 32px;
    text-align: center;
    line-height: 1.1;
}

span.Call{
    color: #003370;
    font-size: 28px;
    padding-right: 5px;
    display: inline-block;
    padding-top: 20px;
}
span.Call-Phone{
    color: #003370;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    padding-top: 20px;
}

.Not-Execution-Head-2{
    color: #003370;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.Not-Execution .Why-We-Right-Block{
    width: 300px;
    margin: 0 auto;
}

.Not-Execution .Why-We-Right-Block-2 input.Consult{
    border-radius: 4px;
    border-color: rgb(88, 1, 1);
    color: rgb(255, 238, 238);
    background-color: rgb(147, 1, 1);
    padding: 15px 20px;
    font-size: 21px;
    line-height: 1.2;
}

.Special-Offer{
    margin-top: 200px;
}
.Special-Offer-Head-1{
    color: #1d1363;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.Special-Offer-Head-2{
    color: #1d1363;
    font-size: 22px;
    text-align: center;
}

.Special-Offer-Text p{
    text-align: left;
    font-size: 18px;
    color: rgb(13, 13, 13);
    line-height: 1.4;
}

.Special-Offer-Text {
    margin-top: 25px;
}

.Special-Offer-Text a{
    border-radius: 4px;
    border-color: rgb(4, 6, 131);
    color: rgb(242, 243, 255);
    background-color: rgb(7, 10, 219);
    padding: 20px 25px;
    font-size: 28px;
    line-height: 1;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 80px;
    width: 490px;
    text-decoration: none;
}

.Services-Head{
    text-align: center;
    font-weight: bold;
    font-size: 43px;
    padding-bottom: 30px;
}

.Services-Block {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    text-decoration: none;

}
.Services-Block p{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.Services-Block img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 15px;
}

.Services {
    margin-bottom: 150px;
}

.Our-Partners-Head{
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}
.Our-Partners img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    max-height: 90px;
}

.Our-Partners {
    text-align: center;
    margin-bottom: 150px;
}










div#lightbox-wrap .page-header{
    display: none !important;
}

#lightbox-wrap .item-page{
	max-width	: 600px;
}

ul.pager.pagenav{
    display: none;
}

img.Logo-Big{
    display: block;
    margin: 0 auto;
}


a.Link-Logo-Big{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.Logo-Big-Block {
    text-align: center;
}








.Service-Box-Images img {
    display: inline-block;
    max-width: 100%;
    max-height: 100px;
    padding: 5px;
    vertical-align: middle;
}

.Service-Box-Images{
    text-align: center;
    font-size: 0px;
    margin-top: 20px;
}

.Service-Box-All-Text{
    font-size: 18px;
    font-family: arial,helvetica,sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;
}
.Service-Box-All-Text ul li{
    list-style-type: none;
}

p.Service-Box-Price {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


p.Recall-Head-1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

p.Recall-Head-2{
    text-align: center;
    font-size: 18px;
    color: rgb(13, 13, 13);
    line-height: 1.4;
}

.Recall-Block{
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    padding: 15px;
    position: relative;
}
.Recall-Block img{
    max-width: 100%;
}
.Recall-Block p{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 15px;
    height: 45px;
}

.Recall{
    font-size: 0px;
}

i.fa.fa-print{
    font-size: 18px;
    position: absolute;
    color: rgb(90, 90, 90);
    right: 60px;
    top: 80px;
    display: none;
    cursor: pointer;
}

.Recall-Block:hover i.fa.fa-print{
    display: block;
}


.Maps img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 30px;
}

p.Map-Head{
    font-size:26px;
    text-align: center;
    margin-bottom: 25px;
}
p.Map-Address{
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 210px;
}

.Map{
    display: inline-block;
    width: 600px;
    vertical-align: top;
}

.Map-1, .Map-2{
    margin-bottom: 35px;
}


p.Between-Maps-Text-1{
    color: #003370;
    font-size: 32px;
    text-align: center;
	font-weight: bold;
}

p.Between-Maps-Text-2{
    color: #003370;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.Between-Maps{
    margin-bottom: 25px;
}

p.Success, .Error{
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
    font-family: arial,helvetica,sans-serif;
}

p.Service-Box-Price {
  border-bottom: 1px solid rgb(234, 234, 234);
  padding-bottom: 10px;
    margin-top: 0px;
}

#lightbox-outer , #lightbox-content{
  border-radius: 10px;
    width: 100% !important;
}

#lightbox-content i.fa.fa-print {
  font-size: 24px;
  position: absolute;
  color: rgb(90, 90, 90);
  right: 20px;
  top: 20px;
  display:block;
  cursor: pointer;
  z-index:10000000;
}

.Guarantee-Divan-Logo{
	  visibility: hidden;	
}
